apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: main
  namespace: argocd

spec:
  generators:
  - list:
      elements:
        - cluster: rancher-master 
          app-name: external-secrets 
          chart: external-secrets 
          targetRevision: 1.3.1 
          repoURL: 'https://charts.external-secrets.io'
          namespace: external-secrets

        - cluster: rancher-master 
          app-name: homer-app 
          chart: homer
          targetRevision: 8.2.3 
          repoURL: 'https://djjudas21.github.io/charts/'
          namespace: homer-app 

        - cluster: rancher-master 
          app-name: vault
          chart: vault
          targetRevision: 0.32.0 
          repoURL: 'https://helm.releases.hashicorp.com'
          namespace: vault

        - cluster: rancher-master 
          app-name: harbor 
          chart: harbor 
          targetRevision: 1.18.1 
          repoURL: 'https://helm.goharbor.io'
          namespace: harbor

        - cluster: rancher-master 
          app-name: cert-manager 
          chart: cert-manager 
          targetRevision: 1.19.2 
          repoURL: 'https://charts.jetstack.io'
          namespace: cert-manager

#        - cluster: rancher-master 
#          app-name: neuvector 
#          chart: core
#          targetRevision: 2.8.5 
#          repoURL: 'https://neuvector.github.io/neuvector-helm/'
#          namespace: cattle-neuvector-system
#
        - cluster: suse-ai 
          app-name: external-secrets 
          chart: external-secrets 
          targetRevision: 0.16.1 
          repoURL: 'https://charts.external-secrets.io'
          namespace: external-secrets

#        - cluster: suse-ai 
#          app-name: istio-base
#          chart: base
#          targetRevision: 1.25.2 
#          repoURL: 'https://istio-release.storage.googleapis.com/charts'
#          namespace: istio-system
#
#        - cluster: suse-ai 
#          app-name: istiod
#          chart: istiod
#          targetRevision: 1.25.2 
#          repoURL: 'https://istio-release.storage.googleapis.com/charts'
#          namespace: istio-system
#
##        - cluster: suse-ai 
##          app-name: istio-gateway 
##          chart: gateway
##          targetRevision: 1.25.2 
##          repoURL: 'https://istio-release.storage.googleapis.com/charts'
##          namespace: common-gateway
##
#
#        - cluster: asus-cluster 
#          app-name: external-secrets 
#          chart: external-secrets 
#          targetRevision: 0.16.1 
#          repoURL: 'https://charts.external-secrets.io'
#          namespace: external-secrets

  template:
    metadata:
      name: '{{cluster}}-{{app-name}}'
      namespace: argocd

    spec:
      project: default
      sources:
        - repoURL: '{{repoURL}}'
          targetRevision: '{{targetRevision}}'
          helm:
            valueFiles:
              - '$values/argocd/values/{{cluster}}/{{app-name}}/values.yaml'
          chart: '{{chart}}'
        - repoURL: 'https://github.com/rajeshkio/home-lab-setup.git'
          targetRevision: main
          ref: values
      destination:
        name: '{{cluster}}'
        namespace: '{{namespace}}'

      syncPolicy:
        syncOptions:
          - ServerSideApply=true
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
        automated:
          prune: true
          selfHeal: true
